<!-- Cards -->
    <!-- First row -->
    <div class="container">
    <div class="columns">
      <div class="column">
        <!-- first card -->
        <a href="/1">
        <div class="card">
          <div class="card-image">
            <figure class="image is-864by1297">
              <img id="poster-0"
              />
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4" id="title-0"></p>
                <p class="subtitle is-6" id="description-0"></p>
              </div>
            </div>
          </div>
        </div>
        </a>
      </div>
      <!-- Second card -->
      <div class="column">
        <a href="/2">
        <div class="card">
          <div class="card-image">
            <figure class="image is-864by1297">
              <img id="poster-1"
              />
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4" id="title-1"></p>
                <p class="subtitle is-6" id="description-1"></p>
              </div>
            </div>
          </div>
        </div>
        </a>
      </div>
      <!-- Third card -->
      <div class="column">
        <a href="/3">
        <div class="card">
          <div class="card-image">
            <figure class="image is-864by1297">
              <img id="poster-2"
              />
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4" id="title-2"></p>
                <p class="subtitle is-6" id="description-2"></p>
              </div>
            </div>
          </div>
        </div>
        </a>
      </div>
      <!-- Fourth card -->
      <div class="column">
        <a href="/4">
        <div class="card">
          <div class="card-image">
            <figure class="image is-864by1297">
              <img id="poster-3"
              />
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4" id="title-3"></p>
                <p class="subtitle is-6" id="description-3"></p>
              </div>
            </div>
          </div>
        </div>
        </a>
      </div>
    </div>
  </div>
<!-- Cards -->
{{!-- Second row --}}
<div class="container">
    <div class="columns">
      <div class="column">
        <!-- first card -->
        <a href="/5">
        <div class="card">
          <div class="card-image">
            <figure class="image is-864by1297">
              <img id="poster-4"
              />
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4" id="title-4"></p>
                <p class="subtitle is-6" id="description-4"></p>
              </div>
            </div>
          </div>
        </div>
        </a>
      </div>
      <!-- Second card -->
      <div class="column">
        <a href="/6">
        <div class="card">
          <div class="card-image">
            <figure class="image is-864by1297">
              <img id="poster-5"
              />
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4" id="title-5"></p>
                <p class="subtitle is-6" id="description-5"></p>
              </div>
            </div>
          </div>
        </div>
        </a>
      </div>
      <!-- Third card -->
      <div class="column">
        <a href="/7">
        <div class="card">
          <div class="card-image">
            <figure class="image is-864by1297">
              <img id="poster-6"
              />
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4" id="title-6"></p>
                <p class="subtitle is-6" id="description-6"></p>
              </div>
            </div>
          </div>
        </div>
        </a>
      </div>
      <!-- Fourth card -->
      <div class="column">
        <a href="/8">
        <div class="card">
          <div class="card-image">
            <figure class="image is-864by1297">
              <img id="poster-7"
              />
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4" id="title-7"></p>
                <p class="subtitle is-6" id="description-7"></p>
              </div>
            </div>
          </div>
        </div>
        </a>
      </div>
    </div>
  </div>
    <!-- Cards -->
    {{!-- Third row --}}
    <div class="container">
    <div class="columns">
      <div class="column">
        <!-- first card -->
        <a href="/9">
        <div class="card">
          <div class="card-image">
            <figure class="image is-864by1297">
              <img id="poster-8"
              />
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4" id="title-8"></p>
                <p class="subtitle is-6" id="description-8"></p>
              </div>
            </div>
          </div>
        </div>
        </a>
      </div>
      <!-- Second card -->
      <div class="column">
        <a href="/10">
        <div class="card">
          <div class="card-image">
            <figure class="image is-864by1297">
              <img id="poster-9"
              />
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4" id="title-9"></p>
                <p class="subtitle is-6" id="description-9"></p>
              </div>
            </div>
          </div>
        </div>
        </a>
      </div>
      <!-- Third card -->
      <div class="column">
        <a href="/11">
        <div class="card">
          <div class="card-image">
            <figure class="image is-864by1297">
              <img id="poster-10"
              />
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4" id="title-10"></p>
                <p class="subtitle is-6" id="description-10"></p>
              </div>
            </div>
          </div>
        </div>
        </a>
      </div>
      <!-- Fourth card -->
      <div class="column">
        <a href="/12">
        <div class="card">
          <div class="card-image">
            <figure class="image is-864by1297">
              <img id="poster-11"
              />
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4" id="title-11"></p>
                <p class="subtitle is-6" id="description-11"></p>
              </div>
            </div>
          </div>
        </div>
        </a>
      </div>
    </div>
</div>

<script src="js/home.js"></script>
