<div class="form2 login-form">

      <h1 class="title1"><strong>Welcome back</strong></h1>
      <h2 class="title2"><strong>Please enter your information</strong></h2>
    <div class="field">
        <p class="control has-icons-left has-icons-right">
          <input class="input" id="email-login" type="email" placeholder="Email">
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fas fa-check"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <p class="control has-icons-left">
          <input class="input" type="password" id="password-login" placeholder="Password">
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <p class="control">
          <button class="button is-success thisthing" type="submit">
            Login
          </button>
        </p>
      </div>
    </div>

<script src="js/login.js"></script>