
  <body>
      </div>
      <div class="profile-info">
        <div class="container has-text-centered">
          <div class="columns is-mobile is-centered">
            <div class="column is-5">
              <div class="box">
                <article class="media">
                  <div class="media-left">
                    <figure class="image is-128x128">
                      <img
                        class="is-rounded"
                        src="https://www.fillmurray.com/250/250"
                      />
                    </figure>
                  </div>
                  <div class="media-content">
                    <div class="content">
                      <p>
                        <strong>{{username}}</strong>
                        <br />
                        Loves drama and mistery.
                        <br />
                        Favorites movies: Lost in Translation and The Grand
                        Budapest Hotel.
                      </p>
                    </div>
                    <nav class="level is-mobile">
                      <div class="level-left">
                        <a class="level-item">
                          <span class="icon is-small">
                            <i class="fas fa-reply"></i>
                          </span>
                        </a>
                        <a class="level-item">
                          <span class="icon is-small">
                            <i class="fas fa-retweet"></i>
                          </span>
                        </a>
                        <a class="level-item">
                          <span class="icon is-small">
                            <i class="fas fa-heart"></i>
                          </span>
                        </a>
                      </div>
                    </nav>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </div>
        <br />
      </div>
      <!-- Info container -->
      <div class="container has-text-centered">
        <div class="columns is-mobile is-centered">
          <div class="column is-5">
            <div class="box">
              <article class="media">
                <div class="media-content">
                  <div class="content">
                    <strong>Email:</strong>
                    <p>hellobill@email.com</p>
                    <hr />
                    <strong>Favorites Genres:</strong>
                    <p>Drama, mistery.</p>
                    <hr />
                    <strong>Favorites movies:</strong>
                    <p>Lost in Translation and The Grand Budapest Hotel.</p>
                    <hr />
                    <strong>Favorites streaming sites:</strong>
                    <p>Apple TV</p>
                    <hr />
                    <strong>Favorites Actors:</strong>
                    <p>Scarlett Johansson, Ben Stiller and Christoph Waltz.</p>
                    <hr />
                    <strong>Favorites Directors:</strong>
                    <p>
                      Quentin Tarantino, Christopher Nolan and Wes Anderson.
                    </p>
                  </div>
                  <nav class="level is-mobile">
                    <div class="level-left">
                      <a class="level-item"> </a>
                    </div>
                  </nav>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
<script src="js/moviepage.js"></script>